---
layout: default
title: R packages
category: R
---

<h1>{{ page.title }}</h1>
<div class="rposts">
  {% for post in site.categories[page.category] %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}

  <h2 class="year-list" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
        {% assign date = currentdate %}
      {% endif %}
  <p class="rentry">
    <a href="{{ post.url }}" title="{{ post.title }}">
      {{ post.author }} ({{ post.year }}): "<i>{{ post.title }} ({{ post.version }}): {{ post.subtitle }}</i>".
      <b>{{ post.publisher }}</b>
      <span><i class="ai ai-doi ai-1x"></i>{{ post.doi }}</span>
    </a>
  </p>
  {% endfor %}
</div>
